# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# custom
.ipynb_checkpoints*
.pytest_cache
legacy/unidad_4/fake_files/*
legacy/unidad_4/dd_data/*
legacy/practicos/*.ipynb
*.o
legacy/clase13/db/example.db

legacy/clase14/db/*
legacy/clase14/zodb/*
legacy/clase15/parquet/*
legacy/clase16/fake_files/
legacy/clase18/db_data/
legacy/clase18/dd_data/
legacy/clase18/mydask.png
**/.hypothesis
**/.mutmut-cache/
**/.mutmut-cache
